<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Servers</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/vue/dist/vue.min.js"></script>
  <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
  <style>
    body {
      padding-top: 2rem;
    }
  </style>
</head>
<body>

<div id="app" class="container">
  <h1 class="card-title"><i class="fa fa-server"></i> Servers</h1>
  <h4 class="text-right">
    <button @click="refresh" class="btn btn-link"><i class="fa fa-refresh"></i></button>
    <button @click="toggleAddCard" class="btn btn-link">
      <i class="fa fa-plus"></i>
    </button>
  </h4>

  <div class="card card-header" v-if="showAddCard">
    <div class="form-group">
      <label>Name</label>
      <input v-model="newServerName" @keyup.enter="add" class="form-control">
    </div>
    <div class="form-group">
      <label>OS</label>
      <select v-model="newServerOs" class="custom-select form-control">
        <option value="Linux">Linux</option>
        <option value="VMWare">VMWare</option>
      </select>
    </div>
    <div class="form-group">
      <div class="pull-right">
        <button class="btn btn-secondary" @click="cancel">Cancel</button>
        <button class="btn btn-primary" @click="add">Add</button>
      </div>
    </div>
  </div>

  <table class="table">
    <thread>
      <tr>
        <th>Name</th>
        <th>OS</th>
        <th>Capacity</th>
        <th>Volumes</th>
        <th>Actions</th>
      </tr>
    </thread>
    <tbody>
    <tr v-for="s in servers">
      <td>{{s.name}}</td>
      <td>{{s.os}}</td>
      <td>{{s.capacity}}TB</td>
      <td>{{s.volumes}}</td>
      <td>
        <button @click="del(s.id)" class="btn btn-sm btn-link">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <script>
    const app = new Vue({
      el: '#app',
      created: function () {
        this.refresh();
        this.clear();
        this.socket = io();
        this.initReducer();
      },
      data: {
        showAddCard: false,
        servers: [],
        newServerOs: '',
        newServerName: '',
        socket: undefined,
      },
      methods: {
        toggleAddCard: function () {
          this.showAddCard = !this.showAddCard;
        },
        add: function () {
          console.log(`adding ${this.newServerName}:${this.newServerOs}`);
          this.socket.emit('add', {name: this.newServerName, os: this.newServerOs});
          this.cancel();
          this.clear();
        },
        clear: function () {
          this.newServerName = '';
          this.newServerOs = 'Linux';
        },
        cancel: function () {
          this.showAddCard = false;
        },
        del: function (event) {
          console.log(`deleting ${event}`);
          this.socket.emit('delete', event);
        },
        refresh: function () {
          console.log('get /servers');
          $.get('/servers', (d) => {
            this.servers = JSON.parse(d);
          });
        },
        initReducer: function () {
          this.socket.on('delete', this.applyDelete);

          this.socket.on('add', this.applyAdd);
        },
        applyDelete: function(id) {
          const index = this.servers.findIndex((s) => s.id === id);
          if(index > -1) {
            this.servers.splice(index, 1);
          }
        },
        applyAdd: function(obj) {
          this.servers.push(obj)
        }
      }
    });
  </script>

</div>

</body>
</html>